@import "~bootstrap/scss/bootstrap";

body{
    background-color: rgb(24, 23, 23);
}

.bb{
    width: 32px;
    height: 35px;
    margin: 0.8rem;
}

.fav-btn {
    margin-left: 60rem;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color: #ffca2c;
  }

.card-container {
    margin-top:1 rem;
    margin-bottom: 1rem;
}

.card-title{
    font-weight: bolder;
}

.cardImage{
    width: 100%;
}

.fav {
    float: right;
}

.detail-photo {
    width: 100%;
}

.detail-text {
    color: white;
}

.footer {
    color:white;
}

.not-found {
    color: white;
}

.carousel_img {
    left: 50px;
    position: relative;
    top: 30px;
    width: 50%;
    left: 25%;
    
    height: 50vh;

}
.container_carousel {
    background-image: url(https://www.wallpapertip.com/wmimgs/66-662614_hd-space-wallpaper-for-background-cool-space-1080p.jpg);
    margin: 1rem;
    padding: 0.5rem;
    position:relative;
    background-position: center;
    background-size: cover; 
    height: 60vh;
}
.textP {
    color: white;
    font-size: 20px;
    /*background: linear-gradient(rgb(15, 15, 15),rgb(32, 32, 32),rgb(43, 43, 43),rgb(66, 66, 66));*/
    border-radius: 10px;
    width: 650px;  
   
}

