@import "~bootstrap/scss/bootstrap";

body{
    background-color: rgb(24, 23, 23);
}

.bb{
    width: 32px;
    height: 35px;
    margin: 0.8rem;
}

.fav-btn {
 margin-left: 10rem;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color: #ffca2c;
  }

.card-container {
    margin-top:1 rem;
    margin-bottom: 1rem;
}

.card-title{
    font-weight: bolder;
}

.cardImage{
    width: 100%;
}

.fav {
    float: right;
}

.trash-icon {
  width: 20px;
  height: 21px;
}

.favourite-name {
  color: black;
}

.detail-photo {
    width: 100%;
}

.detail-text {
    color: white;
}

.not-found {
    color: white;
}

.carousel_img {
    left: 50px;
    position: relative;
    top: 30px;
    width: 50%;
    left: 25%;
    
    height: 50vh;

}
.container_carousel {
    background-image: url(https://www.wallpapertip.com/wmimgs/66-662614_hd-space-wallpaper-for-background-cool-space-1080p.jpg);
    margin: 1rem;
    padding: 0.5rem;
    position:relative;
    background-position: center;
    background-size: cover; 
    height: 60vh;
}
.textP {
    color: white;
    font-size: 20px;
    /*background: linear-gradient(rgb(15, 15, 15),rgb(32, 32, 32),rgb(43, 43, 43),rgb(66, 66, 66));*/
    border-radius: 10px;
    width: 650px;  
   
}

.footer-basic {
    padding:40px 0;
    background-color:rgb(24, 23, 23);
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .social-media-icon {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  

